<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="css/global.css" rel="stylesheet">
	<link href="css/element-ui.css" rel="stylesheet">
	<link href="css/semantic.css" rel="stylesheet">
	<link href="css/admin.css" rel="stylesheet">
	<script src="js/vue.js"></script>
	<script src="js/element-ui.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/semantic.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/api.js"></script>
</head>
<body class="season2">
<div id="vue">
	文字框測試：<kinput :value.sync="value"></kinput><br>
	下拉式選單測試：<kselect :selected.sync="selected" :datalist="datalist"></kselect><br>
	一百個預設值測試：
	<table>
		<tr v-for="(s, i) in selecteds"><td v-text="'資料：' + s"></td><td><kselect :selected.sync="selecteds[i]" :datalist="datalist"></kselect></td></tr>
	</table>
</div>
<script>

//動態產生一萬個選項
var datalist = [];
for (var i = 1; i <= 10000; i ++)
	datalist.push({value: '' + i, label: 'abc' + i + 'thisisatest' + i});

//動態產生一百個下拉式選單
var selecteds = [];
for (var i = 1; i <= 100; i ++)
	selecteds.push('' + i);

//文字輸入元件測試
Vue.component('kinput', {
	template: `<input v-model="val" @keyup="$emit('update:value', val)" ></input>`,
	data: function() { return {
		val: '',
	}},
	props: ['value'],
	mounted: function () {
		this.val = this.value;
	},
	methods: {
		change: function () {
			this.$emit('update:value', this.val);
		},
	},
});

//可搜尋下拉式選單
Vue.component('kselect', {
	template: `
		<div class="ui search dropdown selection" :class="{active: visible, visible: visible}">
			<i v-if="value && !visible" @click="clear" class="icon delete"></i>
			<i v-else @click="visible = !visible" class="icon dropdown"></i>
			<input @keydown="search" v-model="input" class="search" autocomplete="off" placeholder="請選擇" >
			<div class="text filtered"></div>
			<div class="menu transition" :class="{hidden: !visible}" tabindex="-1" style="display: block !important;">
				<div v-if="filtered.length == 0" class="item">找不到</div>
				<div @click="select(d)" class="item" v-for="d in filtered" v-text="d.label"></div>
			</div>
		</div>
	`,
	data: function() { return {
		visible: false,
		input: '',
		value: '',
	}},
	props: ['selected', 'datalist'],
	mounted: function () {
		var datalist = this.datalist;
		for (var i in datalist) {
			var d = datalist[i];
			if (d.value != this.selected) continue;
			this.value = this.selected;
			return this.select(d);
		}
	},
	computed: {
		filtered: function() {
			var datalist = this.datalist;
			if (this.value) return [];
			if (!this.input) return datalist.slice(0, 100);
			var filtered = [];
			for (var i in datalist) {
				var d = datalist[i];
				if (d.label.indexOf(this.input) == -1 && d.value.indexOf(this.input) == -1) continue;
				filtered.push(d);
				if (filtered.length == 100) break;
			}
			return filtered;
		},
	},
	methods: {
		clear: function(e) {
			this.visible = true;
			this.value = this.input = '';
			this.$emit('update:selected', '');
		},
		search: function(e) {
			if (e.key == 'Enter') {
				var datalist = this.datalist;
				for (var i in datalist) {
					var d = datalist[i];
					if (d.label.indexOf(this.input) == -1 && d.value.indexOf(this.input) == -1) continue;
					return this.select(d);
				}
			}
			this.visible = true;
			this.value = '';
			this.$emit('update:selected', '');
		},
		select: function(data) {
			this.visible = false;
			this.value = data.value;
			this.input = data.label;
			this.$emit('update:selected', this.value);
		},
	},
});

//產生Vue物件
var vue = new Vue({
	el: '#vue',
	data: {
		value: '這是測試',
		selected: '',
		selecteds: selecteds,
		datalist: datalist,
	},
});

</script>

</body>
</html>
